<h2>Apply Promo Deals Here</h2>

<p><%= link_to 'Create a New Discount', '/merchant/bulk_discounts/new' %></p>

<% @bulk_discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
    <h3>Discount: <%= discount.description %></h3>
    <ul>
      <li>Percentage: <%= discount.discount_percent %>%</li>
      <li>Minimum Quantity: <%= discount.minimum_quantity %></li>
    </ul>
    <%= link_to 'Edit Bulk Discount', "/merchant/bulk_discounts/#{discount.id}/edit" %>
    <%= link_to 'Delete Bulk Discount', "/merchant/bulk_discounts/#{discount.id}", method: :delete %>
    </section>
<% end %>
