<h1 align= "center">Create a New Discount</h1>
<center>
  <%= form_tag '/merchant/bulk_discounts', method: :post do |f| %>

    <%= label_tag :description %>
    <%= text_field_tag :description %>

    <%= label_tag :discount_percent %>
    <%= number_field_tag :discount_percent, :step => "0.01" %>

    <%= label_tag :minimum_quantity %>
    <%= number_field_tag :minimum_quantity %>

    <%= submit_tag 'Create Bulk Discount' %>
  <% end %>
</center>
