<h2> Edit Discount for: <%= @discount.name  %> </h2>
<%= form_tag "/merchant/discounts/#{@discount.id}", method: :patch do %>

<%= hidden_field_tag :merchant_id, @discount.merchant.id %>

<%= label_tag :name %>
<%= text_field_tag :name, @discount.name %>

<%= label_tag :min_quantity %>
<%= number_field_tag :min_quantity, @discount.min_quantity %>

<%= label_tag :discount_percent %>
<%= number_field_tag :discount_percent, @discount.discount_percent %>

<%= submit_tag 'Submit' %>
<% end %>
